.main
  .main__header
    .main__header--group
      .group-name
        test
      .member-name
        Member: masa

    .main__header--group-Edit
      = link_to "Edit", "#", class: "edit-btn"

  .main__area
    = render @messages

  .main__footer
    = form_for [@group, @message] do |f|
      .input
        .input__form
          = f.text_field :text, class: 'input__form--text', placeholder: 'type a message'
          = f.label :image do
            = icon('far', 'image', class: 'input__form--image')
            = f.file_field :image, class: 'image-file'
        = f.submit "Send", class: "input__btn"
